
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Marksheet</title>
</head>
<body>
    <h1>Student Marksheet</h1>
    <form method="post" enctype="multipart/form-data" id="studentForm">
        {% csrf_token %}
        {{ student_form.as_p }}
        {{ score_formset.management_form }}
        {% for form in score_formset %}
            {{ form.as_table }}
        {% endfor %}
        <button type="submit">Submit</button>
    </form>

    <table>
        <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ student.name }}</td>
                    <td>{{ student.roll_no }}</td>
                    <td>{{ student.class_level }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
        <span class="step-links">
            {% if students.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ students.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ students.number }} of {{ students.paginator.num_pages }}.
            </span>

            {% if students.has_next %}
                <a href="?page={{ students.next_page_number }}">next</a>
                <a href="?page={{ students.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</body>
</html>
