<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Students Data</title>
</head>
<body>
    <h1>All Students Data</h1>

    <table border="1">
        <thead>
            <tr>
                <th><a href="?sort_by=name">Student Name</a></th>
                <th><a href="?sort_by=roll_no">Roll No</a></th>
                <th><a href="?sort_by=class_level">Class Level</a></th>
                <th>Subjects</th>
                <th>Scores</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ student.name }}</td>
                    <td>{{ student.roll_no }}</td>
                    <td>{{ student.class_level }}</td>
                    <td>
                        {% for subject in student.subjects.all %}
                            {{ subject.name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for score in student.score_set.all %}
                            {{ score.score }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Pagination links -->
    <div class="pagination">
        <span class="step-links">
            {% if students.has_previous %}
                <a href="?page=1{% if sort_by %}&sort_by={{ sort_by }}{% endif %}">&laquo; first</a>
                <a href="?page={{ students.previous_page_number }}{% if sort_by %}&sort_by={{ sort_by }}{% endif %}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ students.number }} of {{ students.paginator.num_pages }}.
            </span>

            {% if students.has_next %}
                <a href="?page={{ students.next_page_number }}{% if sort_by %}&sort_by={{ sort_by }}{% endif %}">next</a>
                <a href="?page={{ students.paginator.num_pages }}{% if sort_by %}&sort_by={{ sort_by }}{% endif %}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</body>
</html>
